.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.x-fade-enter-active {
  transition: all 4s ease-out;
}

.x-fade-leave-active {
  transition: all 4s ease-out;
  transition-delay: 500ms;
}

.x-fade-enter-from {
  opacity: 0;
  /* transform: translateX(100vw); */
}

.x-fade-leave-to {
  opacity: 0;
  /* transition-delay: 1s; */

  /* transform: translateX(100vw); */
}

.x-fade-fast-enter-active {
  transition: all 500ms ease-out;
  transition-delay: 400ms;
}

.x-fade-fast-leave-active {
  transition: all 500ms ease-out;
  transition-delay: 400ms;
}

.x-fade-fast-enter-from {
  opacity: 1;
  /* transform: translateX(100vw); */
}

.x-fade-fast-leave-to {
  opacity: 0;
  /* transition-delay: 1s; */

  /* transform: translateX(100vw); */
}

.x-fade-slow-enter-active {
  transition: all 1000ms ease-out;
  transition-delay: 400ms;
}

.x-fade-slow-leave-active {
  transition: all 1000ms ease-out;
  transition-delay: 400ms;
}

.x-fade-slow-enter-from {
  opacity: 1;
  /* transform: translateX(100vw); */
}

.x-fade-slow-leave-to {
  opacity: 0;
  /* transition-delay: 1s; */

  /* transform: translateX(100vw); */
}

.fade-in {
  animation: 1s fade-in ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.unroll {
  animation: 0.2s unroll ease-out;
}

@keyframes unroll {
  from {
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

html {
  font-size: 14px;
}

.font-titillium {
  font-family: "Titillium Web", sans-serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

*{
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.svg-shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.537));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.505));
  /* Similar syntax to box-shadow */
}

.input-outline {
  /* outline: 1px #96969c4d solid;
  border-radius: 10px */
}

em {
  font-weight: 600;
  font-style: normal;
  color: rgb(121, 121, 121) !important;
}

.hide-scroll {
  padding-right: 50px;
  box-sizing: content-box;
  /* So the width will be 100% + 25px */
}

* {
  -webkit-transform: translate2d(0, 0);
  -moz-transform: translate2d(0, 0);
  -ms-transform: translate2d(0, 0);
  -o-transform: translate2d(0, 0);
  transform: translate2d(0, 0);
}

.scroll {
  -webkit-overflow-scrolling: touch; /* adds momentum scrolling for iOS*/
}
.rounded-lala {
  border-radius: 50px;
}
.rounded-lala-b {
  border-radius: 0px 0px 50px 50px;
}
.rounded-lala-t {
  border-radius: 50px 50px 0px 0px;
}

/* table styles */
th,
td {
  border: none;
  padding: 8px 16px;
  text-align: center;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #e2ebe8;
}
th {
  position: sticky;
  top: 0;
  background-color: rgb(193, 218, 193);
}
table {
  border-collapse: collapse;
  width: 100%;
}
ul {
  list-style-type: none;
  /* list-style-position: inside !important; */
  padding-left: 14px !important;
}
.policy ul {
  list-style-type: disc;
  /* list-style-position: inside !important; */
  padding-left: 14px !important;
}
/* override to fix broken chips input: */
.chips ul {
  list-style-type: none !important;
  /* list-style-position: inside !important; */
  padding-left: 14px !important;
  width: 100%;
}

p {
  margin-bottom: 10px;
}
.email-bg {
  background-color: #ebf1ef;
}
/* .policies .terms .groups ul {
  list-style-type: disc !important;

  list-style-position: inside !important;
} */
.policies h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  line-height: 20px;
  margin-bottom: 22px;
  margin-top: 22px;
}
.policies h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 22px;
  margin-top: 22px;
}
.policies h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 22px;
  margin-top: 22px;
}
input {
  font-size: 16px!important;
}