<div style="margin: auto;
    display:block;
    width:100%; ">
  <img  style="margin:auto;border-radius:7px; display:block;" src="{{data.imageURL}}">
</div>
<h3 style="text-align:center">Thank you for your enquiry concerning the package 
<br> {{data.title}}. 
<br>
<br>
A consultant will reach out to you in the next 24 hours.</h3>
